#signUp {
    background: linear-gradient(to top right, #252f3c, #264350);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    h1 {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .center {
        position: relative;
        display: inline-block;
        margin: auto;
        width: 20vw;
        margin-left: 40vw;
    }
    form {
        text-align: center;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
    }
    input {
        text-align: center;
    }
}