#home-bg {
    background-color: #252f3c;
    background: linear-gradient(to top right, #252f3c, #4b779a);
    height: 100vh;
    width: 100vw;
    .hamburger {
        position: absolute;
        right: 3vw;
        top: 4vh;
        &:hover {
            cursor: pointer;
        }
    }
    .heading {
        color: orange;
        font-family: 'Bowlby One SC', cursive;
        font-size: 2.3em;
        letter-spacing: 6px;
        text-shadow: 4px 4px rgba(255,0,0, .2);
        padding-left: 10vw;
        padding-top: 3vh;
    }
    .streak {
        border-radius: 50%;
        border: .3vw solid white;
        color: white;
        font-size: 4vw;
        width: 5vw;
        line-height: 5vw;
        height: 5vw;
        text-align: center;
        position: absolute;
        bottom: 4vh;
        right: 3vw;
        &:hover {
            cursor: pointer;
        }
    }
    #swipe-card-directive {
        .card {
            width: 25vw;
            height: 80vh;
            position: absolute;
            left: 50%;
            top: 10%;
            transform: translateX(-50%);
            background-color: white;
        }
        h1 {
            text-align: center;
            font-size: 7em;
        }
        h2 {
            text-align: center;
            font-size: 3em;
        }
        .card {
            font-size:1vw;
            padding: 2vh 5vw;
            margin-top: 10vh;
            padding-top: 12vh;
            height: 60vh;
            width: auto;
            border-radius: 15px;
            color: white;
            background-color: rgba(15, 87, 240, .19);
            border: 1px solid #2d3f52 white;//
            box-shadow: 5px 8px rgba(46, 63, 82, .5);
        }

        @media only screen and (max-width: 700px) {
            .card {
                margin-top: 2vh;
                font-size: 1vh;
                width: 90%;
                height: 77vh;
            }

        }
    }
}