<section id='signUp'>

    <div class='center'>
        
        <h1>Help us tailor your workout experience</h1>

        <md-content md-theme="default" layout-gt-sm="row" layout-padding>
            <div>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Height (in)</label>
                    <md-select ng-model="user.height">
                    <md-option ng-repeat="height in heightValues" value="{{user.height || height}}">
                        {{height}}
                    </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Weight (lbs)</label>
                    <md-select ng-model="user.weight">
                    <md-option ng-repeat="weight in weightValues" value="{{user.weight || weight}}">
                        {{weight}}
                    </md-option>
                    </md-select>
                </md-input-container>

                <md-slider-container>
                    <md-slider flex ng-model="value" ng-change="getFitLevel()" min="1" max="5" aria-label="blue" id="blue-slider" class="md-primary">
                    </md-slider>
                </md-slider-container>

                {{fitLevel}}

            </div>

        </md-content>


    </div>
</section>