<section id='signUp'>

    <div class='center'>
        
        <h1 md-colors="{color: 'primary-900'}">Help us tailor your workout experience to you</h1>

        <md-content md-theme="default" layout-gt-m="row" layout-padding>
            <div>

                <md-input-container class="md-block" flex-gt-m>
                    <label>Height (in)</label>
                    <md-select ng-model="user.height">
                    <md-option ng-repeat="height in heightValues" value="{{user.height || height}}">
                        {{height}}
                    </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-m>
                    <label>Weight (lbs)</label>
                    <md-select ng-model="user.weight">
                    <md-option ng-repeat="weight in weightValues" value="{{user.weight || weight}}">
                        {{weight}}
                    </md-option>
                    </md-select>
                </md-input-container>

                <md-slider-container>
                    <md-slider flex ng-model="value" ng-change="getFitLevel()" min="1" max="5" aria-label="blue" id="blue-slider" class="md-primary">
                    </md-slider>
                </md-slider-container>

                <p class='fit-level'>{{fitLevel}}</p>

            </div>



        </md-content>

        <div class='buttons-container'>

            <md-button ui-sref="home" class='md-raised md-primary' type="button">Submit</md-button>     
            <md-button ui-sref="home" class='md-raised md-primary' type="button">Skip</md-button>   

        </div>

    </div>
</section>