<section id='signUp'>
    <h1>Sign Up</h1>
    <div class='center'>
        <form>
            <ul>
                <li><input ng-model="fName" type="text" placeholder="First Name"></li>
                <li><input ng-model="lName" type="text" placeholder="Last Name"></li>
                <li><input ng-model="height" type="text" placeholder="Height"></li>
                <li><input ng-model="weight" type="text" placeholder="Weight"></li>
                <li><label for="FL">Fitness Level:</label></li>
                <li><input ng-model="value" ng-change="getFitLevel()" type="range" name="FL" id="FL" value="1" min="1" max="5" data-show-value="false"></li>{{fitLevel}}
                <li><button type="button" ui-sref="home">Submit</button><button type="button" ui-sref="home">Fill this out Later</button></li>
            </ul>
        </form>
    </div>
</section>