#streak {
	background: linear-gradient(to top right, #252f3c, #264350);
	height: 100vh;
	width: 100vw;
	padding-top: 10vh;
	// margin: 0 auto;

	.back-home {
		position: absolute;
		left: 3vw;
		top: 4vh;
		width: auto;

		&:hover {
			cursor: pointer;
		}
	}

	#streak-count {
		border-radius: 50%;
		border: 2px solid white;
		color: white;
		width: 80vh;
		line-height: 80vh;
		height: auto;
		text-align: center;
		margin: auto;


		h1 {
			font-size: 15em;
		}
	}	
}
