#streak {
    background: linear-gradient(to top right, #ff9323, #aa1323);
	height: 100vh;
	width: 100vw;
	padding-top: 10vh;
	// margin: 0 auto;

	.back-home {
		position: absolute;
		left: 3vw;
		top: 4vh;
		width: auto;

		&:hover {
			cursor: pointer;
		}
	}

	img {
		width: 50vw;
		height: auto;
		float: left;
		margin-left: 8vw;
		display: inline-element;
	}


	.streaks-label {
		color: white;
		font-size: 4em;
		display: inline-block;
		float: right;
		margin-right: 6vw;
		margin-top: 12vh;
	}

	#streak-count {
		border-radius: 50%;
		border: 5px solid black;
		color: black;
		position: absolute;
		margin-left: 10vw;
		margin-top: 30vh;
		width: 40vh;
		line-height: 40vh;
		height: auto;
		text-align: center;
		display: inline-block;
		

		h1 {
			font-size: 10em;
		}
	}	
	@media only screen and (max-width: 700px) {

		.back-home {
		position: absolute;
		left: 3vw;
		top: 2vh;
		width: auto;
		}
		#adpic {
			height: 12vh;
			padding-top: 5vh;
			transform: translateY(-15%);
			border: 2px solid white;
			text-align: center;

			p {
				color: white;
				padding-top: 0vh;
			}
		}

		.streaks-label {
		color: white;
		font-size: 10vw;
		display: inline-block;
		float: left;
		// margin-right: 6vw;
		margin-top: 2vh;
		margin-left: 3vw;
		}

        #streak-count {
		border-radius: 50%;
		border: 3px solid white;
		color: white;
		position: absolute;
		right: 8vw;
		// float: left;
		margin-left: 65vw;
		margin-top: 0vh;
		width: 15vw;
		line-height: 15vw;
		height: auto;
		text-align: center;
		display: inline-block;
		

			h1 {
				font-size: 14vw;
			}
		}	

		img {
		width: 90vw;
		height: auto;
		float: left;
		margin-left: 5vw;
		margin-top: 4vh;
		display: inline-element;
		box-shadow: 0 0 20px rgba(100,100,100,0.7)
	}

    }
}
