#swipe-section {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right, #ff9323, #aa1323);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    @media only screen and (max-width: 650px) {
        .back-home {
            float: left;
            position: absolute;
            margin-left: 3vw;
            margin-top: 3vh;
        }
        #goButton {
            margin-top: 10%;
            margin-bottom: 5%;
            background-color: rgba(0, 0, 50, .8); //#ff1123;
            text-align: center;
            font-size: 4em;
            border: none;
            padding: 5px;
            border-radius: 50%;
            color: white;
            box-shadow: 4px 4px rgba(0,0,0, .3);
        }
        #ready {
            font-size: 4em;
            text-align: center;
            border-bottom: 2px solid grey;
        }
        #exercise {
            font-size: 3em;
            margin-top: 20%;
        }
        #intensity {
            margin-top: 5%;
            font-size: 2em;
        }
        #int_slider {
            margin-left: 10%;
            margin-right: 10%;
        }
        #description {
            margin-top: 10%;
        }
    }
}